.idea/*
logs/*
run/*
config/config.local.*
config/config.prod.*
node_modules/
resources/
mediacenter/
migrations/
spec/
**/.DS_Store
package-lock.json
.vscode
pem/sandbox_private.txt
pem/sandbox_ali_public.txt
app/public/novels/*
app/public/movies/*
app/public/films/*.flv
app/public/films/*.mov
app/public/films/*.mp4