


/*------------------------------------tab-style------------------------------------------------------------------*/
.myalreadybuy-headertab {
    padding-top: 10px;
    padding-bottom: 10px;
}
.myalreadybuy-headertab a {
    color: #000000;
    text-decoration: none;
}
.alreadybuy-tab-active a{
    color: #1E96FF;
}


/*-----------------------------------------------------list-style------------------------------------------------*/
.myalreadyBuy-list > a {
    display: inline-block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.weui-media-box__thumb {
    max-width: 80px;
}
.weui-media-box__bd {
    padding-top: 10px;
}
